
#toolbar {
  margin:10px;
  background:#f0f0f0;
  border:1px solid #ccc;
  padding:5px 10px;
}

#off {
  display: none;
}

#hashes {
  float:left;
  width:600px;
  background:#f0f0f0;
  min-height:500px;
  padding:10px;
  margin:0px 5px 0px 10px;
}
.hash {
  font-family:monospace;
}

#codes {
  float:left;
  width:410px;
  background:#f0f0f0;
  padding:5px;
}
#codes textarea {
  width:400px;
  height:500px;
  font-size:12px;
  margin:0px 0px 5px 0px;
}

.charname {
  width:80px;
}
.ignore {
  margin-left:10px;
}
.saved {
  font-size:12px;
}